# 最小包
# pip install pip-chill
# pip-chill > requirements.txt

argon2-cffi==21.3.0
black==22.8.0
captcha==0.6.0
crispy-bootstrap5==0.6
cryptography==43.0.3
django-allauth==0.51.0
django-celery-beat==2.7.0
django-cors-headers==3.13.0
django-coverage-plugin==2.0.3
django-debug-toolbar==3.7.0
django-environ==0.9.0
django-extensions==3.2.1
django-filter==24.3
django-model-utils==4.2.0
django-redis==5.2.0
django-simpleui==2024.8.28
djangorestframework-simplejwt==5.3.1
djangorestframework-stubs==1.7.0
docopt==0.6.2
docutils-stubs==0.0.22
drf-spectacular==0.24.2
factory-boy==3.2.1
flake8-isort==4.2.0
flower==1.2.0
httptools==0.6.4
ipdb==0.13.9
matplotlib==3.9.2
mysqlclient==2.2.5
nbconvert==7.16.4
pandas==2.2.2
pip-chill==1.0.3
pre-commit==2.20.0
pydantic==2.9.2
pylint-celery==0.3
pylint-django==2.5.3
pytest-django==4.5.2
pytest-sugar==0.9.5
python-dotenv==1.0.1
python-slugify==6.1.2
sphinx-autobuild==2021.3.14
uvicorn==0.18.3
uvloop==0.21.0
watchdog==5.0.3
watchfiles==0.17.0
websockets==13.1
werkzeug==2.2.2
yarg==0.1.9
